<div class="section-light contact">
  <div class="container">
    <div class="column is-12 about-me">
      <h1 class="title has-text-centered section-title">Join the gang</h1>
    </div>
    <div class="columns is-multiline is-mobile is-centered has-vertically-aligned-content">
      <div class="column has-vertically-aligned-content is-narrow has-text-centered">
          <p class="is-larger">
            &emsp;&emsp;<strong>
              Questions? Just want to chat?
              </strong>
          </p>
          <br />
          <div>
            <!--
                <a class="button is-link is-medium" href="https://chat.whatsapp.com/CJhm381cDaoKu3bLTE3YF0">
            -->
            <a target="_blank" rel="noopener noreferrer" href="https://chat.whatsapp.com/CJhm381cDaoKu3bLTE3YF0" class="button is-link is-medium">
              <span class="icon">
                <mat-icon aria-hidden="false" aria-label="Message icon">message</mat-icon>
              </span>
              <span>Join our WhatsApp!</span>
            </a>
          </div>
      </div>
    </div>
  </div>
