<div class="section-light about-me">
  <div class="container">
    <div class="column is-12 about-me">
      <h1 class="title has-text-centered section-title">Meeting Info</h1>
    </div>
    <div class="columns is-multiline is-centered">
      <div
        class="column is-4 has-vertically-aligned-content"
        data-aos="fade-right">
        <p class="indent has-text-justified">
            The club meets at <a target="_blank" rel="noopener noreferrer" href="https://ci.lubbock.tx.us/departments/parks-recreation/recreation/maggie-trejo-supercenter">Maggie Trejo Supercenter</a>
            at 3200 Amherst St, Lubbock, TX 79415 (<a target="_blank" rel="noopener noreferrer" href="https://maps.apple.com/?q=3200+Amherst+St+Lubbock+TX+79415">Get directions</a>).
        </p>
        <br />
        <div class="is-divider"></div>
        <div class="columns about-links is-mobile is-centered">
          <div class="column is-narrow">
            <p class="heading">
              <strong>Day</strong>
            </p>
            <p class="subheading">
              Monday<br>
              Tuesday<br>
              Wednesday<br>
              Thursday<br>
              Saturday
            </p>
          </div>
          <div class="column is-narrow">
            <p class="heading">
              <strong>Time</strong>
            </p>
            <p class="subheading">
              6:00PM - 7:30PM<br>
              6:00PM - 7:30PM<br>
              6:00PM - 7:30PM<br>
              6:00PM - 7:30PM<br>
              9:30AM - 12:30PM
            </p>
          </div>
        </div>
        <p class="has-text-justified content is-small">
          *Maggie Trejo is closed on state and federal holidays. We do not meet on those days.
            Join the Whatsapp (see below) for the latest info.
        </p>
      </div>
      <div class="column is-6 right-image " data-aos="fade-left">
        <img
          class="is-rounded"
          src="assets/meetings.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
